---
import { Image } from "astro:assets";
import Logo from "../../../public/logo.png";
---

<header class="flex items-center justify-between px-5 py-3 my-3">
  <div class="flex items-center">
    <Image src={Logo} alt="My Fitness Blog Logo" class="w-10 h-12 mr-4" />
  </div>
  <nav class="flex items-center">
    <a href="#" class="nav-link">Home</a>
    <a href="#" class="nav-link">Blog</a>
    <a href="#" class="nav-link">Entrenamiento</a>
    <a href="#" class="nav-link">Nutrición</a>
  </nav>
</header>

<style>
  .nav-link {
    margin-right: 2.5rem;
  }
</style>
