---
import { Image } from "astro:assets";
import Logo from "../../../public/logo.png";
---

<header class="flex items-center justify-between px-5 py-3 my-3">
  <div class="flex items-center">
    <Image src={Logo} alt="My Fitness Blog Logo" class="w-10 h-12 mr-4" />
  </div>
  <nav class="flex items-center">
    <a href="#" class="nav-link">Home</a>
    <a href="#" class="nav-link">Blog</a>
    <a href="#" class="nav-link">¿Quiénes somos?</a>
    <a href="#" class="nav-link">Contacto</a>
  </nav>
</header>

<style>
  .nav-link {
    margin-right: 2.5rem;
    position: relative;
  }

  .nav-link::before {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    transition:
      width 0.35s,
      left 0.35s;
  }

  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }
</style>
