---
import { Image } from "astro:assets";
import Logo from "../../../public/logo.png";
---

<header class="flex items-center justify-between px-5 py-3 my-3">
  <div class="flex items-center">
    <Image src={Logo} alt="My Fitness Blog Logo" class="w-10 h-12 mr-4" />
  </div>
  <nav class="flex items-center">
    <a href="#" class="nav-link">Home</a>
    <a href="#" class="nav-link">Blog</a>
    <a href="#" class="nav-link">Calculadoras</a>
    <a href="#" class="nav-link">Contacto</a>
  </nav>
  <button>Contacto</button>
</header>

<style>
  .nav-link {
    margin-right: 2.5rem;
    position: relative;
    z-index: 1;
  }

  .nav-link::before {
    content: "";
    width: 0;
    height: 12px;
    border-radius: 2px;
    background-color: #2f185c;
    position: absolute;
    z-index: -1;
    bottom: -0.05rem;
    left: 50%;
    transition:
      width 0.35s,
      left 0.35s;
  }

  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }
  /* BUTTON */
  button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid #542ba4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  button:hover {
    background: #3c0a78a9;
    box-shadow: 0 0 15px 5px #5919d851;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  button::before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }

    50% {
      opacity: 1;
    }

    to {
      opacity: 0;
      left: 100%;
    }
  }

  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
</style>
