---
import { Image } from "astro:assets";
import Header from "./Header.astro";
import HeroImg from "../../../public/HeroImg.webp";
import Cta from "../Cta";
---

<section
  id="hero"
  class="flex flex-col justify-between h-[80vh] max-w-screen-xl mx-auto px-4"
>
  <Header />
  <div class="flex items-center">
    <div class="mr-10 flex flex-col justify-start gap-4 pl-8">
      <h1 class="text-7xl font-bold text-balance leading-tight">
        Despierta tu<span class="highlight">Potencial</span>
      </h1>
      <h2 class="">Entrenamiento y Nutrición: Optimiza tu Salud y Bienestar</h2>
      <Cta text="Contacto" />
    </div>

    <Image
      src={HeroImg}
      alt="Hero Image"
      class="heroImg rounded-3xl object-cover overflow-hidden shadow-lg w-3/5"
    />
  </div>
</section>

<style></style>
