---
import { Image } from "astro:assets";
import Header from "./Header.astro";
import ImgCbum from "../../../public/cbum.jpg";
---

<section id="hero" class="flex flex-col w-9/12">
  <Header />
  <section class="grid gap-6 max-w-[1350px]">
    <h1 class="hero-text bg-transparent text-9xl leading-none">
      Bienvenido a tu cambio fisico
    </h1>
    <div class="flex items-center justify-center">
      <Image
        src={ImgCbum}
        alt="Hero Image"
        class="hero-img h-full object-cover"
      />
    </div>
  </section>
</section>

<style>
  #hero {
    grid-template-columns: 1fr 1fr;
  }
  .hero-text {
    text-wrap: balance;
  }
</style>
