---
import { Image } from "astro:assets";
import Header from "./Header.astro";
import ImgCbum from "../../../public/cbum.png";
---

<section id="hero" class="flex flex-col max-w-[1350px]">
  <Header />
  <section class="flex items-center justify-between gap-5">
    <h1 class="hero-text bg-transparent text-7xl leading-none text-balance">
      Bienvenido a tu cambio fisico
    </h1>
    <div class="flex items-center justify-center">
      <Image
        src={ImgCbum}
        alt="Hero Image"
        class="hero-img h-full object-cover"
      />
    </div>
  </section>
</section>
