---

---

<div
  id="hero"
  class="section flex flex-col justify-center items-center text-center mx-auto px-4 gap-10 my-10"
>
  <h1 class="text-8xl font-bold">
    <span class="highlight">Despierta tu Potencial</span>
  </h1>
  <h3 class="text-xl my-7 w-2/3">
    Descubre los mejores artículos sobre Entrenamiento, Nutrición y Salud, para
    mejorar tanto tu estado físico como mental.
  </h3>
</div>
<style>
  #hero {
    min-height: 40vh;
  }
  @media (width <= 1500px) {
    .hero-content {
      gap: 0rem;
    }
  }
</style>
