---
import { Image } from "astro:assets";
import Header from "./Header.astro";
import HeroImg from "../../../public/HeroImg.webp";
---

<section id="hero" class="section flex flex-col max-w-screen-xl mx-auto px-4">
  <Header />
  <div class="flex items-center h-full">
    <div class="mr-10">
      <h1 class="text-7xl font-bold text-balance">
        Lorem ipsum dolor sit amet consectetur
      </h1>
      <h2 class="text-balance">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse sequi
      </h2>
    </div>

    <Image
      src={HeroImg}
      alt="Hero Image"
      class="rounded-3xl object-cover overflow-hidden shadow-lg"
    />
  </div>
</section>
