---
import { Image } from "astro:assets";
import Header from "./Header.astro";
import HeroImg from "../../../public/HeroImg.webp";
import Cta from "../Cta";
---

<section
  id="hero"
  class="flex flex-col justify-between min-h-[75vh] mx-auto px-4 max-w-[1300px] gap-10"
>
  <Header />
  <div class="container flex items-center justify-between gap-8">
    <div class="flex flex-col gap-3">
      <h1 class="text-8xl font-bold text-balance">
        Despierta tu<span class="highlight"> Potencial</span>
      </h1>
      <h2 class="text-lg mb-7">
        <span class="highlight">Entrenamiento</span> y <span class="highlight"
          >Nutrición</span
        > : Optimiza tu Salud
      </h2>
      <Cta text="Contacto" />
    </div>

    <Image
      src={HeroImg}
      alt="Hero Image"
      class="heroImg rounded-3xl object-cover overflow-hidden shadow-lg w-7/12"
    />
  </div>
</section>

<style>
  @media (width<=1500px) {
    .heroImg {
      width: 38%;
    }
    .container {
      gap: 0rem;
    }
  }
</style>
