---

---

<div
  id="hero"
  class="section flex flex-col justify-center items-center text-center mx-auto px-4 gap-10 my-10"
>
  <h1 class="text-8xl font-bold">
    <span class="highlight">Despierta tu Potencial</span>
  </h1>
  <h3 class="text-xl my-7 w-2/3">
    Descubre los mejores artículos sobre Entrenamiento, Nutrición y Salud, para
    mejorar tanto tu estado físico como mental.
  </h3>
</div>
<style>
  #hero {
    min-height: 30vh;
    background-color:#090909;
    padding:6.5rem;
    border-radius:0 0 1rem 1rem;
    margin-top:-3rem;
  }
  @media (width <= 1500px) {
    .hero-content {
      gap: 0rem;
    }
  }
  @media (width<=1150px) {
    h1 {
      font-size: 5rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  @media (width<=500px) {
    h1 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 0.8rem;
    }
    #hero {
      gap: 1.5rem;
      padding-bottom:3rem;
    }
    h3 {
      margin: 0;
    }
  }
</style>
