:root {
  --main-color: #542ba4;
}
main {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-image: url("/background.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
  color-scheme: dark light;
}
@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: black;
  letter-spacing: 0.1rem;
  gap: 2.2rem;
}
button {
  cursor: pointer;
}
.section {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  max-height: 1000px;
  margin-right: 3rem;
  margin-left: 3rem;
}
.highlight {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--main-color);
  font-weight: 800;
  font-size: 125%;
}
