---
import CardPricing from "./CardPricing.astro";

const advantageFirst = ["Hello", "Hola"];
const advantageSec = ["Bye", "Adios", "Hello"];
const advantageThird = ["Probando", "Esto", "Si", "Funcione"];
---

<section class="w-full items-start justify-center flex gap-5">
  <CardPricing price="30" advantageArr={advantageFirst} />
  <CardPricing price="40" advantageArr={advantageSec} />
  <CardPricing price="50" advantageArr={advantageThird} />
</section>
