---
import { Image } from "astro:assets";
import Logo from "/public/Nimbus-Logo.avif";
import Cta from "./Cta.astro";
---

<header id="header" class="section flex items-center justify-between px-5">
  <a href="/" class="flex items-center cursor-pointer">
    <Image src={Logo} alt="My Fitness Blog Logo" class="logo w-48" />
  </a>
  <div class="flex gap-20 navigation">
    <nav class="flex items-center gap-20">
      <ul class="flex gap-16">
        <li>
          <a class="nav-link" href="/#features">Características</a>
        </li>
        <li class="dropdown">
          <button
            class="text-[1.1rem] relative flex items-center justify-center gap-1"
            >Blog<svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="w-3"
            >
              <path
                d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                fill="#fff"></path></svg
            ></button
          >
          <ul class="dropMenu absolute z-10 hidden">
            <li><a href="/#ejercicio" class="nav-link">Ejercicio</a></li>
            <li><a href="/#nutricion" class="nav-link">Nutrición</a></li>
            <li><a href="/#salud" class="nav-link">Salud</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="/#pricing">Pricing</a>
        </li>
        <li>
          <a class="nav-link" href="/#testimonials">Opiniones</a>
        </li>
      </ul>
    </nav>
    <Cta />
  </div>
  <button class="mobile-nav flex"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      fill="var(--main-color)"
      class="icon-mobile-nav open-icon"
    >
      <path
        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
      ></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 384 512"
      fill="var(--main-color)"
      class="icon-mobile-nav close-icon"
    >
      <path
        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
      ></path></svg
    ></button
  >
</header>

<style>
  #header {
    width: 100%;
    padding: 0.5rem 2rem;
    position: relative;
  }
  .nav-link {
    font-size: 1rem;
    position: relative;
    z-index: 1;
    display: block;
  }

  .dropMenu {
    background-color: #050505;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .dropdown:hover .dropMenu {
    display: block;
  }

  .nav-link::before {
    content: "";
    width: 0;
    height: 12px;
    border-radius: 2px;
    background-color: var(--main-color);
    position: absolute;
    z-index: -1;
    bottom: -0.05rem;
    left: 50%;
    transition:
      width 0.35s,
      left 0.35s;
  }

  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }
  .icon-mobile-nav {
    cursor: pointer;
    height: 2rem;
  }

  @media (width>=1200px) {
    .mobile-nav {
      display: none;
    }
  }
  @media (width<=1000px) {
    #header {
      gap: 2rem;
    }
    .logo {
      width: 12rem;
    }
  }

  @media (width<=400px) {
    nav {
      gap: 1.8rem;
    }
  }
  @media (width<= 1200px) {
    .navigation {
      background-color: #080808;
      position: absolute;
      top: 0;
      left: 0;
      width: 97%;
      height: 100vh;
      transform: translateX(100%);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.3s;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      z-index: 1000;
    }
    .mobile-nav {
      display: block;
      z-index: 1000;
    }
    .navigation nav ul {
      flex-direction: column;
      text-align: center;
      gap: 5rem;
      font-size: 3rem;
      color: var(--main-color);
    }
    .nav-link,
    .dropdown button {
      font-size: 1.8rem;
    }
    .dropdown {
      align-self: center;
    }

    .nav-open .navigation {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translate(0);
    }
    .nav-open .close-icon {
      display: block;
    }
    .nav-open .open-icon {
      display: none;
    }
    .close-icon {
      display: none;
    }
    .open-icon {
      display: block;
    }
  }
  @media (width<=1000px) {
    .nav-link,
    .dropdown button {
      font-size: 1.2rem;
    }
  }
  @media (width<=550px) {
    #header {
      width: 95vw;
      left: calc((100% - 95vw) / 2);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navButton = document.querySelector(".mobile-nav");
    const header = document.querySelector("#header");

    navButton.addEventListener("click", function () {
      header.classList.toggle("nav-open");
    });
  });
</script>
