---
import { Image } from "astro:assets";
import "../styles/global.css";
const { title, image, description, post, index } = Astro.props;
---

<div class="container">
  <a class="card-link" href={`/posts/post-${index + 1}/`}>
    <article class="card">
      <figure class="card__header">
        <img
          src={post.frontmatter.image.url}
          alt="card__image"
          class="card__image"
          width="600"
        />
      </figure>
      <div class="card__body">
        <span class="tag tag-blue">Technology</span>
        <h4>{post.frontmatter.title}</h4>
        <p>
          {post.frontmatter.description}
        </p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img
            src="https://i.pravatar.cc/40?img=1"
            alt="user__image"
            class="user__image"
          />
          <div class="user__info">
            <h5>Jane Doe</h5>
          </div>
        </div>
      </div>
    </article>
  </a>
</div>
<style>
  .card-link {
    transition: all 0.4s;
  }

  .card-link:hover,
  .card-link:active {
    transform: translateY(-0.5rem);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 2rem;
    box-shadow: 0 3.2rem 6.4rem #15014044;
  }
  .card__header {
    height: 50%;
  }
  img {
    height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 25rem;
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #242424;
  }

  .card__body {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .tag {
    align-self: flex-start;
    padding: 0.25em 0.75em;
    border-radius: 1em;
    font-size: 45%;
  }

  .tag-blue {
    background: var(--main-color);
    color: #fafafa;
  }

  .tag-brown {
    background: #d1913c;
    background: linear-gradient(to bottom, #ffd194, #d1913c);
    color: #fafafa;
  }

  .tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
  }

  .card__body h4 {
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .card__body p {
    font-size: 0.5rem;
  }
  .card__footer {
    height: 20%;
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }

  .user {
    display: flex;
    gap: 0.5rem;
  }

  .user__image {
    border-radius: 50%;
  }

  .user__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
