---
import { Image } from "astro:assets";
import Logo from "/public/Nimbus-Logo.avif";
---

<footer class="bg-gray-900 w-[70%]">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 ">
        <a href="/" class="flex items-center sm:items-center sm:justify-center">
          <Image src={Logo} class="w-56 me-3 logo " alt="Nimbus Logo" />
        </a>
      </div>
      <div class="flex gap-20 sm:gap-16 sm:justify-center">
        <div>
          <h2 class="mb-6 text-sm uppercase">Contacto</h2>
          <ul>
            <li class="mb-4">
              <a
                href="mailto:frankmmarindev@gmail.com"
                target="_blank"
                class="hover:underline">Email</a
              >
            </li>
            <li>
              <a
                href="https://frankmdev.vercel.app/"
                target="_blank"
                class="hover:underline">Portfolio</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm uppercase">Legal</h2>
          <ul>
            <li class="mb-4">
              <a href="#" target="_blank" class="hover:underline"
                >Políticas de Privacidad</a
              >
            </li>
            <li>
              <a href="#" target="_blank" class="hover:underline"
                >Terms &amp; Conditions</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center"
        >© 2024 <a href="https://frankm.dev/" class="hover:underline"
          >FrankmDev</a
        >. Todos los derechos reservados.
      </span>
      <div class="flex gap-5 mt-4 sm:justify-center sm:mt-0">
        <a
          target="_blank"
          href="https://x.com/FrankmDev"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
        >
          <svg
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
            ></path></svg
          >
          <span class="sr-only">X page</span>
        </a>
        <a
          target="_blank"
          href="https://github.com/FrankmDev"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
        >
          <svg
            class="icon"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">GitHub account</span>
        </a>

        <a
          href="https://www.linkedin.com/in/frankmdev/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
          ><svg
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
            ></path></svg
          >
          <span class="sr-only">LinkedIn</span>
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  .icon {
    width: 1.2rem;
    fill: white;
    transition: 0.3s all;
  }
  .icon:hover {
    fill: var(--main-color);
    transform: scale(1.2);
  }
  @media(width<=1200px){
    footer{
      font-size:90%;
    }
  }
  @media(width<=950px){
    footer{
      font-size:80%;
    }
    .logo{
      width:10rem;
    }
  }
  @media(width<=800px){
    .container{
      gap:.5rem;
    }
    .logo{
      width:12rem;
    }
  }
</style>
