---
import { Image } from "astro:assets";
import Logo from "../../public/logo.avif";
---

<header
  id="header"
  class="section flex items-center justify-between px-5 py-3 my-3"
>
  <a href="/" class="flex items-center cursor-pointer">
    <Image src={Logo} alt="My Fitness Blog Logo" class="logo w-40" />
  </a>
  <nav class="flex items-center gap-16">
    <a href="#ejercicio" class="nav-link">Ejercicio</a>
    <a href="#nutricion" class="nav-link">Nutrición</a>
    <a href="#salud" class="nav-link">Salud</a>
  </nav>
</header>

<style>
  #header {
    width: 80vw;
    border-bottom: 1px solid #532ba423;
  }
  .nav-link {
    font-size: 1.1rem;
    position: relative;
    z-index: 1;
  }

  .nav-link::before {
    content: "";
    width: 0;
    height: 12px;
    border-radius: 2px;
    background-color: var(--main-color);
    position: absolute;
    z-index: -1;
    bottom: -0.05rem;
    left: 50%;
    transition:
      width 0.35s,
      left 0.35s;
  }

  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }
  @media (width<=1000px) {
    #header {
      flex-direction: column;
      gap: 1.5rem;
    }
    .logo {
      width: 12rem;
    }
  }
  @media (width<=500px) {
    .nav-link {
      font-size: 90%;
    }
  }
</style>
