---
import { Image } from "astro:assets";
import Logo from "../../public/logo.avif";
---

<header
  id="header"
  class="section flex items-center justify-between px-5 py-3 my-3"
>
  <a href="/" class="flex items-center cursor-pointer">
    <Image src={Logo} alt="My Fitness Blog Logo" class="logo w-40" />
  </a>
  <nav class="flex items-center gap-20">
    <ul class="flex gap-16">
      <li class='dropdown'>
        <button class="relative flex items-center justify-center gap-1"
          >Blog<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
            class="w-3"
          >
            <path
              d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
              fill="#fff"></path></svg
          ></button
        >
        <ul class="dropMenu absolute z-10 hidden">
          <li><a href="#ejercicio" class="nav-link">Ejercicio</a></li>
          <li><a href="#nutricion" class="nav-link">Nutrición</a></li>
          <li><a href="#salud" class="nav-link">Salud</a></li>
        </ul>
      </li>
      <li>
        <a class="nav-link" href="#contacto">Contacto</a>
      </li>
      <li>
        <a class="nav-link" href="#equipo">Equipo</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  #header {
    width: 80vw;
    border-bottom: 1px solid #532ba423;
  }
  .nav-link {
    font-size: 1.1rem;
    position: relative;
    z-index: 1;
    display: block;
  }
  
  .dropMenu{
    background-color:#050505;
    padding:1rem;
    border-radius:.5rem;
  }
  .dropdown:hover .dropMenu {
    display: block;
  }

  .nav-link::before {
    content: "";
    width: 0;
    height: 12px;
    border-radius: 2px;
    background-color: var(--main-color);
    position: absolute;
    z-index: -1;
    bottom: -0.05rem;
    left: 50%;
    transition:
      width 0.35s,
      left 0.35s;
  }

  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }
  @media (width<=1000px) {
    #header {
      flex-direction: column;
      gap: 2rem;
    }
    .logo {
      width: 12rem;
    }
  }

  @media (width<=400px) {
    nav {
      gap: 1.8rem;
    }
  }
</style>
