---
import "../../styles/global.css";
import Card from "../Card.astro";
const allPosts = await Astro.glob("../../pages/posts/*.md");
---

<section id="blog" class="section flex flex-col items-center justify-center">
  <h2 class="highlight">Posts recientes</h2>
  <section class="posts grid grid-cols-3 gap-6 w-[85%]">
    {allPosts.map((post, index) => <Card {post} {index} />)}
  </section>
</section>

<style>
  h2 {
    font-size: 2rem;
  }
</style>
