---
import Card from "../Card.astro";
const allPosts = await Astro.glob("../../pages/posts/*.md");
---

<section class="flex">
  <h2>Ultimos posts</h2>
  {
    allPosts.map((post) => (
      <li>
        <a href="../../pages/posts/post-1.md">Post 1</a>
      </li>
    ))
  }
</section>
